<template>
	<modal :name="'delete-modal'+id" height="auto">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete {{ name }}</h5>
            <button type="button" class="close" @click="hideDeleteModal(id)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="/user/destroy" method="delete" @submit.prevent="destroyAssistant">
            <div class="modal-body">
                <p class="text-center lead">Are you Sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @click="hideDeleteModal(id)">Close</button>
                <button type="submit" class="btn btn-danger" :disabled="disabled">Yes! I want to Delete</button>
            </div>
            <span class="loader" v-if="this.loading" style="position: absolute; bottom: 0.515rem; left: 20px;">
                <span class="ball-clip-rotate">
                    <div style=" border:1px solid #000;"></div>
                </span>
            </span>
        </form>
	</modal>
</template>

<script>
export default {

  	name: 'AssistantDeleteModalComponent',

  	props: [
  		'id',
  		'name',
  		'indexAssistant',
  		'all'
  	],

  	data () {
	    return {
	    	loading: false,
	    	disabled: false
	    }
  	},

  	methods: {
  		hideDeleteModal(id) {
			this.$modal.hide('delete-modal'+id);
  		},

  		destroyAssistant() {
  			this.loading = true
  			this.disabled = true
  			axios.delete('/user/destroy/'+this.id)
  			.then((response) => {
	  			this.loading = false
	  			this.disabled = false
  				this.hideDeleteModal(this.id)
  				this.alert(response)
  				this.removeItem()
  			})
  			.catch((err) => {
  				this.loading = false
	  			this.disabled = false
	  			console.log(err)
  			})
  		},

  		removeItem() {
			this.all.splice(this.indexAssistant, 1);
		},

  		alert(response) {
  			swal('Account', response.data.message, 'success')
  		},
  	}
}
</script>

<style lang="css" scoped>
</style>