<template>
	<modal :name="'edit-modal'+id" height="auto">
	    <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Edit {{ mName }}</h5>
	        <button type="button" class="close" @click="hideEditModal(id)">
	            <span aria-hidden="true">&times;</span>
	        </button>
	    </div>
	    <form action="/user/update" method="patch" @submit.prevent="updateAssistant">
	    	<div class="modal-body">
	            <div class="position-relative form-group">
	            	<label for="exampleAddress" class="">Full name</label><input name="name" v-model="editName" id="exampleAddress" placeholder="FullName" type="text" class="form-control">
	            	<div v-if="errors.has('editName')" class="alert alert-danger">
				        {{ errors.first('editName') }}
				    </div>
	            </div>

	            <div class="position-relative form-group">
	            	<label for="exampleEmail11" class="">Email</label><input name="email" v-model="editEmail" id="exampleEmail11" placeholder="email" type="email" class="form-control">
	            	<div v-if="errors.has('editEmail')" class="alert alert-danger">
				        {{ errors.first('editEmail') }}
				    </div>
	            </div>

	            <div class="position-relative form-group">
	            	<label for="examplePassword11" class="">Change Password</label><input name="password" v-model="editPassword" id="examplePassword11" placeholder="password" type="password" class="form-control">
	            	<div v-if="errors.has('password')" class="alert alert-danger">
				        {{ errors.first('password') }}
				    </div>
	            </div>
	        </div>
	        <div class="modal-footer">
	            <button type="button" class="btn btn-secondary" @click="hideEditModal(id)">Close</button>
	            <button type="submit" class="btn btn-primary">Save changes</button>
	        </div>
            <span class="loader" v-if="this.loading" style="position: absolute; bottom: 0.515rem; left: 20px;">
                <span class="ball-clip-rotate">
                    <div style=" border:1px solid #000;"></div>
                </span>
            </span>
	    </form>
	</modal>
</template>

<script>
import Errors from '../../Errors.js'
export default {

  	name: 'AssistantEditModalComponent',

  	props: [
  		'mEmail',
  		'mName',
  		'id'
  	],

  	data () {
	    return {
	    	editPassword: null,
	    	disabled: false,
	    	errors: Errors,
	    	loading: false
	    }
  	},

  	methods: {
  		hideEditModal(id) {
			this.$modal.hide('edit-modal'+id);
  		},

  		setData() {
  			this.editName = this.mName
			this.editEmail = this.mEmail
  		},

  		updateAssistant() {
  			this.disabled = true;
  			this.loading = true;
  			const form = {
  				editName: this.mName,
  				editEmail: this.mEmail,
  				password: this.editPassword
  			}
  			axios.patch('/user/update/'+this.id, form)
  			.then((response) => {
  				this.disabled = false
  				this.loading = false
  				this.hideEditModal(this.id)
  				this.alert(response)
  			})
  			.catch((err) => {
  				this.disabled = false
  				this.loading = false
	  			Errors.fill(err.response.data.errors)
  			})
  		},

  		alert(response) {
  			swal(response.data.username, response.data.message, 'success')
  		},
  	},

  	computed: {
		editName: {
			get: function() {
				return this.mName
			},
			set: function(value) {
				this.$emit('update:mName', value);
			}
		},
		editEmail: {
			get: function() {
				return this.mEmail
			},
			set: function(value) {
	  			this.$emit('update:mEmail', value);
			}
		}
  	},
}
</script>

<style lang="css" scoped>
</style>