<template>
	<modal :name="'view-client-modal'+client.id" height="auto">
	    <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">{{ client.name }}</h5>
	        <button type="button" class="close" @click="hideClientViewModal(client.id)">
	            <span aria-hidden="true">&times;</span>
	        </button>
	    </div>
    	<div class="modal-body">
            
        </div>
	</modal>
</template>

<script>
export default {

  	name: 'ClientViewModalComponent',

  	props: ['client'],

  	data () {
    	return {

    	}
  	},

  	methods: {
  		hideClientViewModal(id) {
			this.$modal.hide('view-client-modal'+id);
  		},
  	}
}
</script>

<style lang="css" scoped>
</style>