<template>
	<div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                    	<div class="row">
                    		<div class="col-md-10">
                        		<h5 class="card-title">Add Assistant</h5>
                    		</div>
                    		<div class="col-md-2">
		                        <div class="font-icon-wrapper" data-toggle="collapse" href="#collapseExample123" @click="showForm('hide')" v-if="formStatus === 'open'">
		                        	<i class="pe-7s-plus icon-gradient bg-arielle-smile"> </i></div>

		                        <div class="font-icon-wrapper" data-toggle="collapse" href="#collapseExample123" @click="showForm('open')" v-if="formStatus === 'hide'">
		                        	<i class="pe-7s-close-circle icon-gradient bg-love-kiss"> </i></div>
                    		</div>
                    	</div>
                        <div class="collapse" id="collapseExample123">
                            <form action="/user/create" method="post" @submit.prevent="addUser()" @keydown="errors.clearErr($event.target.name)">

                                <div class="position-relative form-group">
                                	<label for="exampleAddress" class="">Full name</label><input name="name" v-model="name" id="exampleAddress" placeholder="FullName" type="text" class="form-control">
                                	<div v-if="errors.has('name')" class="alert alert-danger">
								        {{ errors.first('name') }}
								    </div>
                                </div>

                                <div class="position-relative form-group">
                                	<label for="exampleEmail11" class="">Email</label><input name="email" v-model="email" id="exampleEmail11" placeholder="email" type="email" class="form-control">
                                	<div v-if="errors.has('email')" class="alert alert-danger">
								        {{ errors.first('email') }}
								    </div>
                                </div>

                                <div class="position-relative form-group">
                                	<label for="examplePassword11" class="">Password</label><input name="password" v-model="password" id="examplePassword11" placeholder="password" type="password" class="form-control">
                                	<div v-if="errors.has('password')" class="alert alert-danger">
								        {{ errors.first('password') }}
								    </div>
                                </div>
                                
                                
                                <button class="btn btn-success btn-block" type="submit" :disabled="errors.disableBtn(disabled)">
                                	<span class="lnr-plus-circle mr-2"></span>
                                	Add
                            		<span class="loader" v-if="this.loading" style="position: absolute; top: 0.015rem; left: 1px;">
                                        <span class="ball-clip-rotate">
                                            <div></div>
                                        </span>
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                        <div class="card-body">
                            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                <thead>
	                                <tr>
	                                    <th>Name</th>
	                                    <th>email</th>
	                                    <th>Actions</th>
	                                </tr>
                                </thead>
                                <tbody>
	                                <tr v-for="(assistant, index) in assistants">
	                                    <td>{{ assistant.name }}</td>
	                                    <td>{{ assistant.email }}</td>
	                                    <td>
	                                    	<assistant-edit-modal  :mEmail.sync="assistants[index]['email']" :mName.sync="assistants[index]['name']" :id="assistant.id"></assistant-edit-modal>
	                                    	<assistant-delete-modal :id="assistant.id" :name="assistant.name" :indexAssistant="assistants.indexOf(assistants[index])" :all="assistants"></assistant-delete-modal>
	                                    	<div class="dropdown d-inline-block">
	                                            <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="mb-2 mr-2 dropdown-toggle btn btn-focus">Manage</button>
	                                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-rounded dropdown-menu">
	                                                <div class="dropdown-menu-header">
	                                                    <div class="dropdown-menu-header-inner bg-focus">
	                                                        <div class="menu-header-image opacity-1"
	                                                             style="background-image: url(images/dropdown-header/abstract3.jpg);"></div>
	                                                        <div class="menu-header-content"><h5 class="menu-header-title">Settings</h5><h6 class="menu-header-subtitle">Manage all of your options</h6></div>
	                                                    </div>
	                                                </div>
	                                                <button type="button" @click="showEditModal(assistant.id)" tabindex="0" class="dropdown-item"><i class="dropdown-icon pe-7s-edit"> </i><span>Edit</span></button>
	                                                <button type="button" @click="showDeleteModal(assistant.id)" tabindex="0" class="dropdown-item"><i class="dropdown-icon pe-7s-trash"> </i><span>Delete</span></button>
	                                            </div>
	                                        </div>
	                                    </td>
	                                </tr>
                                </tbody>
                                <tfoot>
	                                <tr>
	                                    <th>Name</th>
	                                    <th>email</th>
	                                    <th>Actions</th>
	                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Errors from '../Errors'
export default {

  	name: 'AssistantComponent',

  	data () {
	    return {
	    	formStatus: 'open',
	    	loading: false,
	    	email: null,
	    	password: null,
	    	name: null,
	    	errors: Errors,
  			disabled: false,
  			assistants: {}
	    }
  	},

  	methods: {
  		showForm(status) {
  			this.formStatus = status;
  		},

  		showEditModal(id) {
			this.$modal.show('edit-modal'+id);
  		},

  		showDeleteModal(id) {
			this.$modal.show('delete-modal'+id);
  		},

  		addUser() {
  			this.loading = true
  			this.disabled = true
  			const form = {
	    		email: this.email,
	    		password: this.password,
	    		name: this.name
	    	}
  			axios.post('/user/create', form)
  			.then((response) => {
  				this.loading = false
  				this.disabled = false
  				this.alert(response)
  				this.clearPopulatedData()
  				this.assistants.push(response.data.assistant)
  				this.showForm('hide')
  			})
  			.catch((err) => {
  				this.loading = false
  				this.disabled = false
	  			Errors.fill(err.response.data.errors)
  			})
  		},

  		alert(response) {
  			swal(response.data.username, response.data.message, 'success')
  		},

  		clearPopulatedData() {
  			this.email = ""
  			this.password = ""
  			this.name = ""
  		},

  		getAssistants() {
  			axios.get('/user/all/assistants')
  			.then((response)=>{
  				this.assistants = response.data
  			})
  			.catch((err)=>{console.log(err)});
  		}
  	},

  	created() {
  		this.getAssistants()
  	}


}
</script>

<style lang="css" scoped>
</style>