<template>
	<div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                    	<div class="row">
                    		<div class="col-md-10">
                        		<h5 class="card-title">Add Client</h5>
                    		</div>
                    		<div class="col-md-2">
		                        <div class="font-icon-wrapper" data-toggle="collapse" href="#collapseExample123" @click="showForm('hide')" v-if="formStatus === 'open'">
		                        	<i class="pe-7s-plus icon-gradient bg-arielle-smile"> </i></div>

		                        <div class="font-icon-wrapper" data-toggle="collapse" href="#collapseExample123" @click="showForm('open')" v-if="formStatus === 'hide'">
		                        	<i class="pe-7s-close-circle icon-gradient bg-love-kiss"> </i></div>
                    		</div>
                    	</div>
                    	
                        <div class="collapse" id="collapseExample123">
                            <form action="/client/create" method="post" @submit.prevent="addClient()" @keydown="errors.clearErr($event.target.name)">

                            	<h4 class="card-title">Personal Information</h4>
                            	<hr>
                            	<div class="row">
                            		<div class="col-md-4">
                            			<div class="position-relative form-group">
		                                	<label for="name" class="">Full name</label><input name="name" v-model="name" id="name" placeholder="FullName" type="text" class="form-control">
		                                	<div v-if="errors.has('name')" class="alert alert-danger">
										        {{ errors.first('name') }}
										    </div>
		                                </div>
                            		</div>
                            		<div class="col-md-4">
                            			<div class="position-relative form-group">
		                                	<label for="age" class="">Age</label><input name="age" v-model="age" id="age" placeholder="Age" type="number" class="form-control" min="0">
		                                	<div v-if="errors.has('age')" class="alert alert-danger">
										        {{ errors.first('age') }}
										    </div>
		                                </div>
                            		</div>
                            		<div class="col-md-4">
                            			<div class="position-relative form-group">
		                                	<label for="phone_num" class="">Phone Number</label><input name="phone_number" v-model="phone_number" id="phone_num" placeholder="phone_number" type="text" class="form-control">
		                                	<div v-if="errors.has('phone_number')" class="alert alert-danger">
										        {{ errors.first('phone_number') }}
										    </div>
		                                </div>
                            		</div>
                            		<div class="col-md-4">
                            			<div class="position-relative form-group">
		                                	<label for="add1" class="">Address I</label><input name="address1" v-model="address1" id="add1" placeholder="Address I" type="text" class="form-control">
		                                	<div v-if="errors.has('address1')" class="alert alert-danger">
										        {{ errors.first('address1') }}
										    </div>
		                                </div>
                            		</div>
                            		<div class="col-md-4">
                            			<div class="position-relative form-group">
		                                	<label for="add2" class="">Address II <small>(Optional)</small></label><input name="address2" v-model="address2" id="add2" placeholder="Address II" type="text" class="form-control">
		                                </div>
                            		</div>
                            		<div class="col-md-4">
                            			<div class="position-relative form-group">
		                                	<label for="key" class="">Client Key</label><input name="key" v-model="key" id="key" placeholder="Client Key" type="text" class="form-control">
		                                	<div v-if="errors.has('key')" class="alert alert-danger">
										        {{ errors.first('key') }}
										    </div>
		                                </div>
                            		</div>
                            	</div>
                                <hr>
                                <h4 class="card-title">Bank Information</h4>
                            	<hr>
                            	<div class="row">
                            		<div class="col-md-6">
                            			<div class="position-relative form-group">
		                                	<label for="banename" class="">Bank Name</label><input name="bank_name" v-model="bank_name" id="banename" placeholder="Bank Name" type="text" class="form-control">
		                                	<div v-if="errors.has('bank_name')" class="alert alert-danger">
										        {{ errors.first('bank_name') }}
										    </div>
		                                </div>
                            		</div>
                            		<div class="col-md-6">
                            			<div class="position-relative form-group">
		                                	<label for="bank" class="">Bank Account</label><input name="account_number" v-model="account_number" id="bank" min="1000000000000" placeholder="Bank Account" type="number" class="form-control">
		                                	<div v-if="errors.has('account_number')" class="alert alert-danger">
										        {{ errors.first('account_number') }}
										    </div>
		                                </div>
                            		</div>
                            	</div>
                                <hr>
                                <h4 class="card-title">Payment | Loan Information</h4>
                                <hr>
                            	<div class="row">
                            		<div class="col-md-6">
                            			<div class="position-relative form-group">
		                                	<label for="fee" class="">Monthly Fee</label><input name="monthly_fee" v-model="monthly_fee" id="fee" placeholder="Monthly Fee" min="0" type="number" class="form-control">
		                                	<div v-if="errors.has('monthly_fee')" class="alert alert-danger">
										        {{ errors.first('monthly_fee') }}
										    </div>
		                                </div>
                            		</div>
                            		<div class="col-md-6">
                            			<div class="position-relative form-group">
		                                	<label for="loan" class="">Loan</label><input name="loan" v-model="loan" id="loan" placeholder="Loan" type="number" class="form-control" min="0">
		                                	<div v-if="errors.has('loan')" class="alert alert-danger">
										        {{ errors.first('loan') }}
										    </div>
		                                </div>
                            		</div>
                            		<div class="col-md-6">
                            			<div class="position-relative form-group">
		                                	<label for="loantype" class="">Loan Type</label>
		                                	<select name="loantype" v-model="loantype" id="loantype" class="form-control">
		                                		<option :disabled="true">Choose Loantype</option>
		                                		<option value="30">30%</option>
		                                		<option value="70">70%</option>
		                                	</select>
		                                	<div v-if="errors.has('loantype')" class="alert alert-danger">
										        {{ errors.first('loantype') }}
										    </div>
		                                </div>
                            		</div>
                            		<div class="col-md-6">
                            			<div class="position-relative form-group">
		                                	<label for="deadline" class="">Loan Deadline</label>
		                                	<Datepicker @selected="errors.clearErr('loan_deadline')" :bootstrap-styling="true" placeholder="choose a deadline" v-model="loan_deadline"></Datepicker>
		                                	<div v-if="errors.has('loan_deadline')" class="alert alert-danger">
										        {{ errors.first('loan_deadline') }}
										    </div>
		                                </div>
                            		</div>
                            	</div>
                                <hr>
                            	<h4 class="card-title">Vehicle Information</h4>
                                <hr>
                                <div class="row">
                                	<div class="col-md-4">
                                		<div class="position-relative form-group">
		                                	<label for="code" class="">Taxi Code</label><input name="taxi_code" v-model="taxi_code" id="code" placeholder="Taxi Code" type="number" min="0" class="form-control">
		                                	<div v-if="errors.has('taxi_code')" class="alert alert-danger">
										        {{ errors.first('taxi_code') }}
										    </div>
		                                </div>
                                	</div>
                                	<div class="col-md-4">
                                		<div class="position-relative form-group">
		                                	<label for="que" class="">Que</label><input name="cue" v-model="cue" id="que" placeholder="Que" type="number" class="form-control" min="0">
		                                	<div v-if="errors.has('cue')" class="alert alert-danger">
										        {{ errors.first('cue') }}
										    </div>
		                                </div>
                                	</div>
                                	<div class="col-md-4">
                                		<div class="position-relative form-group">
		                                	<label for="cs" class="">Client Status</label>
		                                	<select name="client_status" v-model="client_status" id="cs" class="form-control">
		                                		<option :disabled="true">Choose Client's Status</option>
		                                		<option value="0">Available</option>
		                                		<option value="1">Transfer</option>
		                                		<option value="2">Terminated</option>
		                                	</select>
		                                	<div v-if="errors.has('client_status')" class="alert alert-danger">
										        {{ errors.first('client_status') }}
										    </div>
		                                </div>
                                	</div>
                                </div>
                                <hr>
                            	<h4 class="card-title">Authorized Personnel</h4>
                                <hr>
                                <div class="row">
                                	<div class="col-md-6">
                                		<div class="position-relative form-group">
		                                	<label for="ap" class="">Authorization</label><input name="authorization" v-model="authorization" id="ap" placeholder="Authorization" type="text" class="form-control">
		                                	<div v-if="errors.has('authorization')" class="alert alert-danger">
										        {{ errors.first('authorization') }}
										    </div>
		                                </div>
                                	</div>
                                	<div class="col-md-6">
                                		<div class="position-relative form-group">
		                                	<label for="tpa" class="">Third Party Authorization</label><input name="third_party_authorization" v-model="third_party_authorization" id="tpa" placeholder="Third Party Authorization" type="text" class="form-control">
		                                </div>
                                	</div>
                                </div>

                                <hr>
                            	<h4 class="card-title">Documents</h4>
                                <hr>
                                <div class="row">
                                	<div class="col-md-6">
                                		<div class="position-relative form-group">
		                                	<label for="exampleAddress" class="">ID <small>(Upload Id of the Client)</small></label>
		                                	<vue2Dropzone ref="IdDropzone" id="IdDropzone" :options="IDdropzoneOptions" @vdropzone-removed-file="vremoved" @vdropzone-success="vIdsuccess"></vue2Dropzone>
		                                	<div v-if="errors.has('IDdoc')" class="alert alert-danger">
										        {{ errors.first('IDdoc') }}
										    </div>
		                                </div>
                                	</div>
                                	<div class="col-md-6">
                                		<div class="position-relative form-group">
		                                	<label for="exampleAddress" class="">Invoice <small>(Upload Invoice *PDF)</small></label>
		                                	<vue2Dropzone ref="InvoiceDropzone" id="InvoiceDropzone" :options="InvoicedropzoneOptions" @vdropzone-removed-file="vremoved" @vdropzone-success="vInvoicesuccess"></vue2Dropzone>
		                                	<div v-if="errors.has('InvoiceDoc')" class="alert alert-danger">
										        {{ errors.first('InvoiceDoc') }}
										    </div>
		                                </div>
                                	</div>
                                	<div class="col-md-6">
                                		<div class="position-relative form-group">
		                                	<label for="exampleAddress" class="">Loan Request <small>(Upload loan request *PDF)</small></label>
		                                	<vue2Dropzone ref="LoanDropzone" id="LoanDropzone" :options="LoandropzoneOptions" @vdropzone-removed-file="vremoved" @vdropzone-success="vLoansuccess"></vue2Dropzone>
		                                	<div v-if="errors.has('LoanDoc')" class="alert alert-danger">
										        {{ errors.first('LoanDoc') }}
										    </div>
		                                </div>
                                	</div>
                                	<div class="col-md-6">
                                		<div class="position-relative form-group">
		                                	<label for="exampleAddress" class="">Marital Document <small>(Upload Marital document of the client)</small></label>
		                                	<vue2Dropzone ref="MaritalDropzone" id="MaritalDropzone" :options="MaritaldropzoneOptions" @vdropzone-removed-file="vremoved" @vdropzone-success="vMaritalsuccess"></vue2Dropzone>
		                                	<div v-if="errors.has('MaritalDoc')" class="alert alert-danger">
										        {{ errors.first('MaritalDoc') }}
										    </div>
		                                </div>
                                	</div>
                                	<div class="col-md-6">
                                		<div class="position-relative form-group">
		                                	<label for="exampleAddress" class="">Authorization <small>(Upload Authorization document)</small></label>
		                                	<vue2Dropzone ref="AuthorizationDropzone" id="AuthorizationDropzone" :options="AuthorizationdropzoneOptions" @vdropzone-removed-file="vremoved" @vdropzone-success="vAuthorizationsuccess"></vue2Dropzone>
		                                	<div v-if="errors.has('AuthorizationDoc')" class="alert alert-danger">
										        {{ errors.first('AuthorizationDoc') }}
										    </div>
		                                </div>
                                	</div>
                                	<div class="col-md-6">
                                		<div class="position-relative form-group">
		                                	<label for="exampleAddress" class="">Third-party Authorization <small>(Upload Third-party Authorization document)</small></label>
		                                	<vue2Dropzone ref="ThirdPartyAuthorizationDropzone" id="ThirdPartyAuthorizationDropzone" :options="ThirdPartyAuthorizationdropzoneOptions" @vdropzone-removed-file="vremoved" @vdropzone-success="vTPAsuccess"></vue2Dropzone>
		                                </div>
                                	</div>
                                </div>
                                
                                <button class="btn btn-success btn-block" type="submit" :disabled="errors.disableBtn(disabled)">
                                	<span class="lnr-plus-circle mr-2"></span>
                                	Add
                            		<span class="loader" v-if="this.loading" style="position: absolute; top: 0.015rem; left: 1px;">
                                        <span class="ball-clip-rotate">
                                            <div></div>
                                        </span>
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                        <div class="card-body">
                    	    <!-- <datatable :columns="columns" :data="rows"></datatable> -->
                            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                <thead>
	                                <tr>
	                                    <th>Name</th>
	                                    <th>Age</th>
	                                    <th>Phone Number</th>
	                                    <th>Address I</th>
	                                    <th>Address II (Optional)</th>
	                                    <th>Client Key</th>
	                                    <th>Actions</th>
	                                </tr>
                                </thead>
                                <tbody>
	                                <tr v-for="(client, index) in clients">
	                                    <td>{{ client.name }}</td>
	                                    <td>{{ client.age }}</td>
	                                    <td>{{ client.phone_number }}</td>
	                                    <td>{{ client.address1 }}</td>
	                                    <td>{{ client.address2 }}</td>
	                                    <td>{{ client.key }}</td>
	                                    <td>
	                                    	<assistant-delete-modal :id="client.id" :name="client.name"></assistant-delete-modal>
	                                    	
	                                    	<div class="dropdown d-inline-block">
	                                            <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="mb-2 mr-2 dropdown-toggle btn btn-focus">Manage</button>
	                                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-rounded dropdown-menu">
	                                                <div class="dropdown-menu-header">
	                                                    <div class="dropdown-menu-header-inner bg-focus">
	                                                        <div class="menu-header-image opacity-1"
	                                                             style="background-image: url(images/dropdown-header/abstract3.jpg);"></div>
	                                                        <div class="menu-header-content"><h5 class="menu-header-title">Settings</h5><h6 class="menu-header-subtitle">Manage all of your options</h6></div>
	                                                    </div>
	                                                </div>
	                                                <a :href="'/client/'+client.id" style="text-decoration: none;"><button type="button" tabindex="0" class="dropdown-item"><i class="dropdown-icon pe-7s-look"> </i><span>View</span></button></a>
	                                                <button type="button" @click="showEditModal(client.id)" tabindex="0" class="dropdown-item"><i class="dropdown-icon pe-7s-edit"> </i><span>Edit</span></button>
	                                                <button type="button" @click="showEditModal(client.id)" tabindex="0" class="dropdown-item"><i class="dropdown-icon pe-7s-edit"> </i><span>Update Documents</span></button>
	                                                <button type="button" @click="showDeleteModal(client.id)" tabindex="0" class="dropdown-item"><i class="dropdown-icon pe-7s-trash"> </i><span>Delete</span></button>
	                                            </div>
	                                        </div>
	                                    </td>
	                                </tr>
                                </tbody>
                                <tfoot>
	                                <tr>
	                                    <th>Name</th>
	                                    <th>Age</th>
	                                    <th>Phone Number</th>
	                                    <th>Address I</th>
	                                    <th>Address II (Optional)</th>
	                                    <th>Client Key</th>
	                                    <th>Actions</th>
	                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Errors from '../Errors'
// import DatatableFactory from 'vuejs-datatable';
// Vue.use(DatatableFactory)
export default {

  	name: 'ClientComponent',

  	data () {
    	return {
    		formStatus: 'open',
	    	loading: false,
	    	errors: Errors,
			disabled: false,
			clients: {},
			name: '', age: '', address1: '', address2: '', phone_number: '', bank_name: '', account_number: '', monthly_fee: '', loan: '',
			taxi_code: '', key: '', client_status: 0, authorization: '', third_party_authorization: '', loan_deadline: '', cue: '',
			loantype: 30,
			IDdropzoneOptions: {
	          	url: 'https://api.cloudinary.com/v1_1/torpa/image/upload?upload_preset=pjqnyzxh',
	          	maxFilesize: 3.5,
	          	addRemoveLinks: true,
	          	maxFiles: 10,
	          	dictDefaultMessage: "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload ID Of The Client</p>",
	          	headers: { "X-Requested-With": "XMLHttpRequest" },
	          	renameFile: function (file) {
				    let newName = new Date().getTime() + '_' + file.name;
				    return newName;
				}
	      	},
	      	InvoicedropzoneOptions: {
	      		url: 'https://api.cloudinary.com/v1_1/torpa/image/upload?upload_preset=pjqnyzxh',
	          	thumbnailWidth: 150,
	          	maxFilesize: 3.5,
	          	addRemoveLinks: true,
	          	maxFiles: 10,
	          	dictDefaultMessage: "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Invoice Of The Client</p>",
	          	headers: { "X-Requested-With": "XMLHttpRequest" },
	          	renameFile: function (file) {
				    let newName = new Date().getTime() + '_' + file.name;
				    return newName;
				}
	      	},
	      	LoandropzoneOptions: {
	      		url: 'https://api.cloudinary.com/v1_1/torpa/image/upload?upload_preset=pjqnyzxh',
	          	thumbnailWidth: 150,
	          	maxFilesize: 3.5,
	          	addRemoveLinks: true,
	          	maxFiles: 10,
	          	dictDefaultMessage: "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Loan Request Document</p>",
	          	headers: { "X-Requested-With": "XMLHttpRequest" },
	          	renameFile: function (file) {
				    let newName = new Date().getTime() + '_' + file.name;
				    return newName;
				}
	      	},
	      	MaritaldropzoneOptions: {
	      		url: 'https://api.cloudinary.com/v1_1/torpa/image/upload?upload_preset=pjqnyzxh',
	          	thumbnailWidth: 150,
	          	maxFilesize: 3.5,
	          	addRemoveLinks: true,
	          	maxFiles: 10,
	          	dictDefaultMessage: "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Marital Document Of The Client</p>",
	          	headers: { "X-Requested-With": "XMLHttpRequest" },
	          	renameFile: function (file) {
				    let newName = new Date().getTime() + '_' + file.name;
				    return newName;
				}
	      	},
	      	AuthorizationdropzoneOptions: {
	      		url: 'https://api.cloudinary.com/v1_1/torpa/image/upload?upload_preset=pjqnyzxh',
	          	thumbnailWidth: 150,
	          	maxFilesize: 3.5,
	          	addRemoveLinks: true,
	          	maxFiles: 10,
	          	dictDefaultMessage: "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Authorization document</p>",
	          	headers: { "X-Requested-With": "XMLHttpRequest" },
	          	renameFile: function (file) {
				    let newName = new Date().getTime() + '_' + file.name;
				    return newName;
				}
	      	},
	      	ThirdPartyAuthorizationdropzoneOptions: {
	      		url: 'https://api.cloudinary.com/v1_1/torpa/image/upload?upload_preset=pjqnyzxh',
	          	thumbnailWidth: 150,
	          	maxFilesize: 3.5,
	          	addRemoveLinks: true,
	          	maxFiles: 10,
	          	dictDefaultMessage: "<i class='pe-7s-cloud-upload icon-gradient bg-warm-flame' style='font-size:30px;'></i> <p style='font-family:Montserrat, sans-serif;'>Upload Third-party Authorization document</p>",
	          	headers: { "X-Requested-With": "XMLHttpRequest" },
	          	renameFile: function (file) {
				    let newName = new Date().getTime() + '_' + file.name;
				    return newName;
				}
	      	},
	      	removedFile: false,
	      	imageResponse: []
    	}
  	},

  	methods: {
  		showForm(status) {
  			this.formStatus = status;
  		},

  		vremoved(file, error, xhr) {
  			this.removedFile = true
  			const filename = file.upload.filename
	        for (var i = this.imageResponse.length - 1; i >= 0; i--) {
	        	if(this.imageResponse[i].filename === filename) {
		            this.imageResponse.splice(i, 1)
	        	}
	        }
  		},

  		vIdsuccess (file, response) {
        	this.imageResponse.push({
	          	filename: file.upload.filename,
	          	type: 'ID_document',
	          	signedUrl: response.url
	        })
	        if(this.in_array(this.imageResponse, 'ID_document')) {
	            Errors.clearErr("IDdoc")
        	}
	    },

	    vInvoicesuccess (file, response) {
        	this.imageResponse.push({
	          	filename: file.upload.filename,
	          	type: 'Invoice_document',
	          	signedUrl: response.url
	        })
	        if(this.in_array(this.imageResponse, 'Invoice_document')) {
	            Errors.clearErr("InvoiceDoc")
        	}
	    },

	    vLoansuccess (file, response) {
        	this.imageResponse.push({
	          	filename: file.upload.filename,
	          	type: 'Loan_document',
	          	signedUrl: response.url
	        })
	        if(this.in_array(this.imageResponse, 'Loan_document')) {
	            Errors.clearErr("LoanDoc")
        	}
	    },

	    vMaritalsuccess (file, response) {
        	this.imageResponse.push({
	          	filename: file.upload.filename,
	          	type: 'Marital_document',
	          	signedUrl: response.url
	        })
	        if(this.in_array(this.imageResponse, 'Marital_document')) {
	            Errors.clearErr("MaritalDoc")
        	}
	    },

	    vAuthorizationsuccess (file, response) {
        	this.imageResponse.push({
	          	filename: file.upload.filename,
	          	type: 'Authorization_document',
	          	signedUrl: response.url
	        })
	        
	        if(this.in_array(this.imageResponse, 'Authorization_document')) {
	            Errors.clearErr("AuthorizationDoc")
        	}
	    },

	    vTPAsuccess (file, response) {
        	this.imageResponse.push({
	          	filename: file.upload.filename,
	          	type: 'Tpa_document',
	          	signedUrl: response.url
	        })
	    },

	    in_array(haystack, needle) {
		    var length = haystack.length;
		    for(var i = 0; i < length; i++) {
		        if(haystack[i].type == needle) return true;
		    }
		    return false;
		},

	    validationForDoc() {
	    	if(this.imageResponse.length > 0) {
	        	if(!this.in_array(this.imageResponse, 'ID_document')) {
		            Errors.push({"IDdoc":["ID document is required!"]})
	        	}
	        	if(!this.in_array(this.imageResponse, 'Invoice_document')) {
		            Errors.push({"InvoiceDoc":["Invoice document is required!"]})
	        	}
	        	if(!this.in_array(this.imageResponse, 'Marital_document')) {
		            Errors.push({"MaritalDoc":["Marital document is required!"]})
	        	}
	        	if(!this.in_array(this.imageResponse, 'Authorization_document')) {
		            Errors.push({"AuthorizationDoc":["Authorization document is required!"]})
	        	}
	        	if(!this.in_array(this.imageResponse, 'Loan_document')) {
		            Errors.push({"LoanDoc":["Loan request document is required!"]})
	        	}
	    	} else {
	    		Errors.push({"IDdoc":["ID document is required!"], "InvoiceDoc":["Invoice Document is required!"], "LoanDoc":["Loan request document is required!"], "MaritalDoc":["Marital document is required!"], "AuthorizationDoc":["Authorization Document is required!"]})
	    	}
	    },

  		addClient() {
  			this.loading = true;
  			this.disabled = true;

  			const form = {
  				name: this.name,
  				age: this.age,
  				address1: this.address1,
  				address2: this.address2,
  				phone_number: this.phone_number,
  				bank_name: this.bank_name,
  				account_number: this.account_number,
  				monthly_fee: this.monthly_fee,
  				loan: this.loan,
  				taxi_code: this.taxi_code,
  				key: this.key,
  				client_status: this.client_status,
  				authorization: this.authorization,
  				third_party_authorization: this.third_party_authorization,
  				loan_deadline: this.loan_deadline,
  				cue: this.cue,
  				loantype: this.loantype,
  				documents: this.imageResponse
  			}

  			axios.post('/client/create', form)
  			.then((response) => {
  				this.disabled = false
  				this.loading = false
  				this.alert(response)
  				this.clients.push(response.data.client)
  				this.clearPopulatedData()
  				this.showForm('hide')
  			})
  			.catch((err) => {
  				// console.log(err)
  				this.disabled = false
  				this.loading = false
  				Errors.fill(err.response.data.errors)
  				this.validationForDoc()
  			})
  		},

  		alert(response) {
  			swal(response.data.client_name, response.data.message, 'success')
  		},

  		clearPopulatedData() {
  			this.name = ""
			this.age = ""
			this.address1 = ""
			this.address2 = ""
			this.phone_number = ""
			this.bank_name = ""
			this.account_number = ""
			this.monthly_fee = ""
			this.loan = ""
			this.taxi_code = ""
			this.key = ""
			this.client_status = 0
			this.authorization = ""
			this.third_party_authorization = ""
			this.loan_deadline = ""
			this.cue =""
			this.loantype = 30
			this.imageResponse = []
			this.$refs.IdDropzone.removeAllFiles();
			this.$refs.InvoiceDropzone.removeAllFiles();
			this.$refs.LoanDropzone.removeAllFiles();
			this.$refs.MaritalDropzone.removeAllFiles();
			this.$refs.AuthorizationDropzone.removeAllFiles();
			this.$refs.ThirdPartyAuthorizationDropzone.removeAllFiles();
  		},

  		getClients() {
  			axios.get('/client/all')
  			.then((response)=>{
  				this.clients = response.data
  			})
  			.catch((err)=>{console.log(err)});
  		}
  	},

  	created() {
  		this.getClients()
  	},

  	watch: {
  		removedFile() {
  			let that = this
	      	setTimeout(function() {
		        that.removedFile = false
	      	}, 2000)
  		}
  	}
}
</script>

<style lang="css" scoped>
</style>