<template>
	<form action="/login" method="post" @submit.prevent="login()" @keydown="errors.clearErr($event.target.name)">
        <div class="modal-body">
            <div class="h5 modal-title text-center">
                <h4 class="mt-2">
                    <div>Welcome back,</div>
                    <span>Please sign in to your account below.</span>
                </h4>
            </div>
            <div class="form-row">
                <div class="col-md-12">
            		<div class="position-relative form-group">
            			<input name="email" v-model="email" id="exampleEmail" placeholder="Email here..." type="email" class="form-control">
        				<div v-if="errors.has('email')" class="alert alert-danger">
					        {{ errors.first('email') }}
					    </div>
            		</div>
                </div>
                <div class="col-md-12">
                	<div class="position-relative form-group">
	        			<input name="password" v-model="password" id="examplePassword" placeholder="Password here..." type="password" class="form-control">
        				<div v-if="errors.has('password')" class="alert alert-danger">
					        {{ errors.first('password') }}
					    </div>
	        		</div>
                </div>
            </div>
            <div class="position-relative form-check"><input name="remember" v-model="remember" id="exampleCheck" type="checkbox" class="form-check-input"><label for="exampleCheck" class="form-check-label">Keep me logged in</label></div>
            <div class="divider"></div>
            <!-- <h6 class="mb-0">No account? <a href="javascript:void(0);" class="text-primary">Sign up now</a></h6> -->
        </div>
        <div class="modal-footer clearfix">
        	<div class="loader-wrapper d-flex justify-content-center align-items-center" v-if="this.loader">
	            <div class="loader">
	                <div class="ball-spin-fade-loader">
	                    <div></div>
	                    <div></div>
	                    <div></div>
	                    <div></div>
	                    <div></div>
	                    <div></div>
	                    <div></div>
	                    <div></div>
	                </div>
	            </div>
	        </div>
            <div class="float-left"><a href="javascript:void(0);" class="btn-lg btn btn-link">Recover Password</a></div>
            <div class="float-right">
                <button class="btn btn-primary btn-lg" type="submit" :disabled="errors.disableBtn(disabled)">Login to Dashboard</button>
            </div>
	        
        </div>
    </form>
</template>

<script>
import Errors from '../Errors'

export default {

  	name: 'LoginComponent',

  	data () {
	    return {
	    	email: null,
	    	password: null,
	    	loader: false,
	    	remember: false,
	    	errors: Errors,
			disabled: false,
	    }
  	},

  	methods: {
	  	login() {
	  		this.loader = true
	  		var form = {
	  			email: this.email, 
	  			password: this.password, 
	  			remember: this.remember
	  		}
	  		axios.post("/login", form)
	  		.then((response) => {
	  			this.loader = false
	  			window.location.href = "/dashboard"
	  		})
	  		.catch((err) => {
	  			this.loader = false
	  			Errors.fill(err.response.data.errors)
	  		})
	  	}
  	}

}
</script>

<style lang="css" scoped>
</style>