<template>
	<div>
	    <div class="app-page-title">
	        <div class="page-title-wrapper">
	            <div class="page-title-heading">
	                <div class="page-title-icon">
	                    <i class="pe-7s-user icon-gradient bg-warm-flame">
	                    </i>
	                </div>
	                <div>{{ client.name }}
	                    <div class="page-title-subheading">Information about added Client </div>
	                </div>
	            </div>
	        </div>
	    </div> 
		<div class="">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="main-card mb-3 card">
	                    <div class="card-body">
	                    	<h2  style="font-weight: 700;">Personal Information</h2>
				            <hr>
				            <div class="row">
				        		<div class="col-md-4">
				        			<label for="fullname" style="font-weight: bold; font-size: 18px;">FullName</label>
				        			<p id="fullname" style="font-size: 15px;">{{ client.name }}</p>
				        		</div>
				        		<div class="col-md-4">
				        			<label for="age" style="font-weight: bold; font-size: 18px;">Age</label>
				        			<p id="age" style="font-size: 15px;">{{ client.age }}</p>
				        		</div>
				        		<div class="col-md-4">
				        			<label for="phone_number" style="font-weight: bold; font-size: 18px;">Phone Number</label>
				        			<p id="phone_number" style="font-size: 15px;">{{ client.phone_number }}</p>
				        		</div>
				        		<div class="col-md-4">
				        			<label for="address1" style="font-weight: bold; font-size: 18px;">Address I</label>
				        			<p id="address1" style="font-size: 15px;">{{ client.address1 }}</p>
				        		</div>
				        		<div class="col-md-4">
				        			<label for="address2" style="font-weight: bold; font-size: 18px;">Address II <small>(Optional)</small></label>
				        			<p id="address2" style="font-size: 15px;">{{ client.address2 }}</p>
				        		</div>
				        		<div class="col-md-4">
				        			<label for="c_key" style="font-weight: bold; font-size: 18px;">Client Key</label>
				        			<p id="c_key" style="font-size: 15px;">{{ client.key }}</p>
				        		</div>
				        	</div>
				        	<hr>
					        <h2  style="font-weight: 700;">Bank Information</h2>
					    	<hr>
					    	<div class="row">
					    		<div class="col-md-6">
					    			<label for="bankname" style="font-weight: bold; font-size: 18px;">Bank Name</label>
				        			<p id="bankname" style="font-size: 15px;">{{ client.bank_name }}</p>
					    		</div>
					    		<div class="col-md-6">
					    			<label for="bank_ac" style="font-weight: bold; font-size: 18px;">Bank Account</label>
				        			<p id="bank_ac" style="font-size: 15px;">{{ client.account_number }}</p>
					    		</div>
					    	</div>
					    	<hr>
				            <h2  style="font-weight: 700;">Payment | Loan Information</h2>
				            <hr>
				        	<div class="row">
				        		<div class="col-md-6">
				        			<label for="monthly_fee" style="font-weight: bold; font-size: 18px;">Monthly Fee</label>
				        			<p id="monthly_fee" style="font-size: 15px;">{{ client.monthly_fee }} ETB</p>
				        		</div>
				        		<div class="col-md-6">
				        			<label for="loan" style="font-weight: bold; font-size: 18px;">Loan</label>
				        			<p id="loan" style="font-size: 15px;">{{ client.loan }} ETB</p>
				        		</div>
				        		<div class="col-md-6">
				        			<label for="loantype" style="font-weight: bold; font-size: 18px;">loantype</label>
				        			<p id="loantype" style="font-size: 15px;">{{ client.loantype }}%</p>
				        		</div>
				        		<div class="col-md-6">
				        			<label for="loan_deadline" style="font-weight: bold; font-size: 18px;">Loan Deadline</label>
				        			<p id="loan_deadline" style="font-size: 15px;">{{ client.loan_deadline }}</p>
				        		</div>
				        	</div>
				        	<hr>
				        	<h2  style="font-weight: 700;">Vehicle Information</h2>
				            <hr>
				            <div class="row">
				            	<div class="col-md-4">
				            		<label for="taxi_code" style="font-weight: bold; font-size: 18px;">Taxi Code</label>
				        			<p id="taxi_code" style="font-size: 15px;">{{ client.taxi_code }}</p>
				            	</div>
				            	<div class="col-md-4">
				            		<label for="cue" style="font-weight: bold; font-size: 18px;">Que</label>
				        			<p id="cue" style="font-size: 15px;">{{ client.cue }}</p>
				            	</div>
				            	<div class="col-md-4">
				            		<label for="client_status" style="font-weight: bold; font-size: 18px;">Clients Status on vehicle</label>
				        			<p id="client_status" style="font-size: 15px;" v-if="client.client_status === 0">Available</p>
				        			<p id="client_status" style="font-size: 15px;" v-if="client.client_status === 1">Transfer</p>
				        			<p id="client_status" style="font-size: 15px;" v-if="client.client_status === 2">Terminated</p>
				            	</div>
				            </div>
				            <hr>
				        	<h2 style="font-weight: 700;">Authorized Personnel</h2>
				            <hr>
				            <div class="row">
				            	<div class="col-md-6">
				            		<label for="authorization_" style="font-weight: bold; font-size: 18px;">Authorization</label>
				        			<p id="authorization_" style="font-size: 15px;">{{ client.authorization }}</p>
				            	</div>
				            	<div class="col-md-6">
				            		<label style="font-weight: bold; font-size: 18px;">Third Party Authorization</label>
				        			<p  style="font-size: 15px;">{{ client.third_party_authorization }}</p>
				            	</div>
				            </div>
				            <hr>
				        	<h2 style="font-weight: 700;">Documents</h2>
				            <hr>
				            <div class="row">
				            	<div class="col-md-12">
				            		<a :href="'/client/'+client.id+'/documents'" style="text-decoration: none;"><button class="btn btn-block btn-focus"><span class="pe-7s-look mr-2"></span>View Documents</button></a>
				            	</div>
				            </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>
export default {

  	name: 'ViewClientComponent',

  	props:['client'],

  	data () {
	    return {

	    }
  	}
}
</script>

<style lang="css" scoped>
</style>