<template>
	<div>
	    <div class="app-page-title">
	        <div class="page-title-wrapper">
	            <div class="page-title-heading">
	                <div class="page-title-icon">
	                    <i class="pe-7s-user icon-gradient bg-warm-flame">
	                    </i>
	                </div>
	                <div>{{ client.name }}
	                    <div class="page-title-subheading">Documents of {{ client.name }} </div>
	                </div>
	            </div>
	        </div>
	    </div> 
		<div class="">
	        <div class="row">
	            <div class="col-md-12">
	                <div class="main-card mb-3 card">
	                    <div class="card-body">
	                    	<h2  style="font-weight: 700;">Documents</h2>
				            <hr>
				            <div class="row">
                            	<div class="col-md-6" v-for="(doc, index) in client.documents">
                                	<label style="font-weight: bold; font-size: 18px;" v-if="doc.field === 'ID_document'">ID</label>
                                	<label style="font-weight: bold; font-size: 18px;" v-if="doc.field === 'Invoice_document'">Invoice</label>
                                	<label style="font-weight: bold; font-size: 18px;" v-if="doc.field === 'Loan_document'">Loan Request</label>
                                	<label style="font-weight: bold; font-size: 18px;" v-if="doc.field === 'Marital_document'">Marital Document</label>
                                	<label style="font-weight: bold; font-size: 18px;" v-if="doc.field === 'Authorization_document'">Authorization</label>
                                	<label style="font-weight: bold; font-size: 18px;" v-if="doc.field === 'Tpa_document'">Third-party Authorization</label>

                                	<vue-pdf-viewer height="500px" :url="doc.document"></vue-pdf-viewer>
                            	</div>
                            </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>
import VuePDFViewer from 'vue-instant-pdf-viewer'
export default {

  	name: 'ViewClientDocumentComponent',

  	props: ['client'],
  	components: {
	    'vue-pdf-viewer': VuePDFViewer
	},
  	data () {
	    return {
	    	
	    }
  	},
}
</script>

<style lang="css" scoped>
  #buttons {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  /* Page content */
  .content {
    padding: 16px;
  }
</style>